.row {
    width: auto;
    margin-left: 0.9375em;
    margin-right: 0.9375em;
    margin-top: 0;
    margin-bottom: 0;
}
.navigation {
    width: 15%;
    float: left;
    min-width: 75px;
}

.content {
    width: 80%;
    float: left;
}
